#hrlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83.8vh;
    /* color: white; */
    font-size: larger;
    background-image: url(./backgroung.jpg);
    background-size: cover;
}

#hrlogin-form {
    width: 400px;
    height: 400px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px rgb(0, 0, 0);
    margin-right: 100px;
    margin-top: 60px;
    text-align: center;
}

#hrlogin-form input {
    /* margin-bottom: 10px; */
    padding: 10px; 
    width: 280px;
    font-size: 16px;
    outline: none;
    transition: 0.5s;
    background: none;
    border: none;
    border-bottom: 2px solid black;
   border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

#hrlogin-form span {
    font-size: larger;
    font-weight: bold;
}

#hrlogin-form>button {
    padding: 8px;
    border-radius: 10px;
    /* margin: 20px; */
    cursor: pointer;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
    transition: transform 0.5s;
}

#hrlogin-form>button{
    background:none;
}
#hrlogin-form>button:hover {
    transform: scale(1.2);
}

#hrlogin-form>button:hover::after {
    content: '>>';
}

#hrlpassword-container {
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 0 20px;
    margin-bottom: 20px;
}

#hrlpassword-container input {
    padding: 12px 15px;
    margin: 10px 0;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.5s;
    background: none;
    border: none;
   border-radius: 20px;
    border-bottom: 2px solid black;
    font-weight: bold;
}

#hrlpassword-container button {
    background: none;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    padding-top: 15px;
    cursor: pointer;
    outline: none;
    transition: transform 0.5s;
}

#hrlpassword-container button:hover {
    transform: rotate(180deg)
}

#hrlpassword-container img {
    height: 30px;
}