body {
    height: 100%;
}
#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#footer {
    /* margin-top: auto; */
    background-color: rgb(149, 147, 147);
    /* padding: 10px 0; */
    color:black;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

