#footer {
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    color: white;
    text-align: center;
    height: 39px; /* Set the height to 15px */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: gradientAnimation 5s ease infinite;
  }

  #footertitle{
    color: black;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  #footer p {
    margin: 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    #footer {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    #footer {
      font-size: 12px;
    }
  }
  