#team{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83.8vh;
    background: linear-gradient(to bottom, #259a9a, #7a847a);
}
#details-form{
    width: 400px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px rgb(4, 3, 3);
    text-align: center;
    border-style: inset;
}
#details-form input{
    margin-bottom: 10px;
    padding: 10px;
    width: 280px;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    border-style: inset;
    transition: 0.5s;
}
#heading{
    /* margin-bottom: 30px; */
}

#details-form span{
    font-size: medium;
    font-weight: bold;
    display: block;
    letter-spacing: 5px;
    text-align: center;
}

#details-form button{
    background: none;
    border-style: inset;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    transition: 0.5s;
    margin: 10px;
}
#details-form a{
    text-decoration:none ;
    color: black;
}
#details-form button:hover{
    transform: scale(1.2);
}