#hrsignup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 84vh;
  background: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
}

#hrsignup-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  box-shadow: 0 0 10px rgba(236, 117, 117, 0.1);
  width: 90%;
  max-width: 400px;
}

#hrsignupheading,
#hrsignup-form > span {
  /* text-align: center; */
  margin-bottom: 20px;
  background: linear-gradient(
    to right,
    #fca027,
    #f83a29,
    #ff81a8,
    #9473ff,
    #028dff,
    #00e5ff,
    #80ff72
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hrsignup-form > span {
  color: #000000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

#hrsignuphrpassword-container {
  position: relative;
}

#hrsignuphrpassword-container input[type="password"],
#hrsignuphrpassword-container input[type="text"] {
  width: calc(100% - 40px);
  padding-right: 40px;
}

#hrsignuphrpassword-container button {
  position: absolute;
  right: 5;
  top: 0;
  bottom: 5;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

button img {
  width: 20px;
  height: 20px;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

button:active {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: initial;
}

/* Animation */
@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#hrsignup {
  animation: rainbow 10s infinite;
}

@media screen and (max-width: 600px) {
  #hrsignup {
    min-height: 74.6vh; /* Further reduced height for smaller screens */
  }
}
